* {

  font-family: 'Roboto', sans-serif;
}

body {
  background: #8484b3;
}

.color1 {
  background: #73ffd6;
}

.color1_shadow {
  box-shadow: 1px 2px 8px #73ffd6;

}

.color2 {
  background: #9fc1ff;
}

.color2_shadow {
  box-shadow: 1px 2px 8px #9fc1ff;

}

.color3 {
  background: #acc0e9;
}

.color3_shadow {
  box-shadow: 1px 2px 8px #acc0e9;

}

.color4 {
  background: #9ad9ff;
}

.color4_shadow {
  box-shadow: 1px 2px 8px #9ad9ff;

}

.color5 {
  background: #a4d0e7;
}

.color5_shadow {
  box-shadow: 1px 2px 8px #a4d0e7;

}

.color6 {
  background: #ffc6e3;
}

.color6_shadow {
  box-shadow: 1px 2px 8px #ffc6e3;

}

.color7 {
  background: #ffd7ae;
}

.color7_shadow {
  box-shadow: 1px 2px 8px #ffd7ae;

}

.color8 {
  background: #ff97a3;
}

.color8_shadow {
  box-shadow: 1px 2px 8px #ff97a3;

}







.card_body {
  background: #fff;
  text-align: center;
  position: relative;
  padding: 0 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.user_card {
  border-radius: 6px;
  position: relative;
  box-shadow: 0px 0px 14px #3e3e3e;
}

.color_white {
  color: #fff;
}

.card_add_button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #0000007a;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-top-bar {
  padding: 10px 10px 60px 10px;
}

.card-top-bar i {
  color: #fff;
}


.card_user_image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

}

.card_user_image img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 3px solid #fff;

}

.card_user_name {
  padding: 60px 0 20px 0;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
}

.card_user_bio {
  color: #9d9d9d;
  font-size: 13px;
}

.card_social_link {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;

}

.card_social_link a {
  text-decoration: none;
  color: #9d9d9d;
}